<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  <p>
    <strong>Poza:</strong>
    <%if user.image.attached? %>
      <%= image_tag user.image, style: "width:200px; display: block;" %>    
    <%end%>  
  </p>
  <p>
  Files  
  <%user.images.each do |f|%>
      <%= link_to f.filename,f, target: :blank ,style: "width:200px; display: block;" %>
       <%= image_tag f, style: "width:200px; display: block;" %>
  <%end%>
  </p>
</div>
